//  Welcome Section
.welcome {
  text-align: justify;
}

//  Why Us
.why-us {
  background: #e9ffd5;
  p {
    text-align: justify;
  }
}

//  Explore Products
.explore {
  text-align: justify;
  img {
    width: 295px;
    height: 295px;
    object-fit: cover;
  }
}

//  Media Query for Tablets
@media only screen and (min-width: 576px) {
  .why-us {
    margin: 15px 0px;
    border-radius: 20px;
    box-shadow: 12px 12px 24px #545652, -12px -12px 24px #198754;
  }
}
