//  Welcome Section
.welcome {
  text-align: justify;
}

//  About Us
.why-us {
  background: #e9ffd5;
  p {
    text-align: justify;
  }
}

//  Media Query for Tablets
@media only screen and (min-width: 576px) {
  .why-us {
    box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
  }
}
