nav {
  img {
    width: 50px;
    height: 50px;
  }
}

.myNavBar {
  position: sticky;
  top: 0px;
  z-index: 10;
}
.myStroke {
  background-color: $tertiaryColor;
  ul {
    li {
      a {
        color: $secondaryColor !important;
      }
    }
  }
}
.myScroll {
  transition: background-color 0.4s ease-out;
}

.scroll {
  background-color: $primaryColor;
  transition: background-color 0.4s ease-out;
}

nav ul li a {
  font-weight: 800;
  text-transform: uppercase;
}

.top-details {
  display: none;
  font-size: 0.8rem;
  margin-left: 50px;
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
}

//  Nav Hover Effect
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a:hover {
  color: #198754 !important;
}

.myStroke ul li a {
  position: relative;
}

.myStroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
}

.myStroke ul li a:hover:after {
  width: 100%;
}

.myStroke ul li a {
  transition: all 2s;
}

.myStroke ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}

.myStroke ul li a:hover {
  color: $secondaryColor;
  z-index: 1;
}

.myStroke ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

//  Media Query for Tablet
@media only screen and (min-width: 576px) {
  .myStrokeScroll {
    background-color: $primaryColor !important;
    transition: background-color 0.4s ease-out;
  }
  nav {
    img {
      width: 70px;
    }
  }
  .myStroke {
    transition: background-color 0.4s ease-out;
    background-color: $secondaryColor;
    ul {
      li {
        border: none !important;
        a {
          border: none !important;
          color: $tertiaryColor !important;
        }
      }
    }
  }
}

//  Media Query for Large Laptops & Desktops
@media only screen and (min-width: 1200px) {
  .top-details {
    display: block;
  }
  .myStroke {
    justify-content: space-between !important;
  }
}
