@import "reset";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
* {
  font-family: "Source Sans Pro", sans-serif;
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  body {
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

@import "variables";
@import "nav-bar";
@import "slider";
@import "content";
@import "cac";
@import "gallery";
